POSTGRES_DB=lavanderia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/lavanderia
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

PGADMIN_DEFAULT_EMAIL=admin@lavanderia.example.com
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=5050
